* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #212121;
  background-color: #fff;
}

header {
  width: 100%;
  height: auto;
  padding: 8px 32px;
}

button {
  padding: 8px 16px;
  margin: 16px 40px;
  background-color: #f8e58c;
}
